h1 {
    padding: 2%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.img-box img {
    object-fit: contain;
}


/*SCROLL BAR*/
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}