{% extends "layout.html" %}

{% block content %}

    <h1 class="mt-2">WYKRYWANIE NACZYŃ KRWIONOŚNYCH DNA OKA</h1>

    <p>Prześlij swój obraz korzystając poniższego formularza:</p>
    <div class="container form">
        <form method="post" class="row g-3" enctype="multipart/form-data" id="photoForm">
            {{ form.hidden_tag() }}
            <div class="row my-3">
                <div class="col-12 mx-auto">
                    {{ form.input_image.label(class_='form-label') }}
                    {{ form.input_image(class_='form-control') }}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12 mx-auto">
                    {{ form.input_map.label(class_='form-label') }} <br>
                    {{ form.input_map(class_='form-control') }}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 mx-auto" id="submit-btn">
                    {{ form.submit(class_='btn btn-success') }}
                </div>
            </div>
        </form>
        <div class="col-12 d-none mt-3" id="spinner">
            <div class="spinner-border text-warning" role="status"></div>
            <p>Twoje żądanie jest przetwarzane. Nie zamykaj okna przeglądarki.</p>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>
        document.getElementById("photoForm").addEventListener("submit", (event) => {
            document.getElementById("spinner").classList.remove("d-none");
            document.getElementById("submit-btn").classList.add("d-none");
        });

    </script>
{% endblock %}