<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Vessels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    {#Google Fonts#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    {#custom css#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {# Notie #}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

    {#Font awesome#}
    <script src="https://kit.fontawesome.com/bd9dc0e408.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="content mb-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href={{ url_for('home') }}><i class="fa-solid fa-eye"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Strona główna</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}
</div>

<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
        <span class="text-body-secondary">Filip Marciniak, Szymon Pasternak</span><br>
        <span class="text-body-secondary">2023</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

{# Notie #}
<script src="https://unpkg.com/notie"></script>

<script>
    {# Notie notifications #}
    {# flash messaging #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                notie.alert({
                    type: '{{ category }}', // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
                    text: '{{ message }}',
                    stay: false, // optional, default = false
                    time: 4, // optional, default = 3, minimum = 1,
                    position: 'bottom' // optional, default = 'top', enum: ['top', 'bottom']
                })
            {% endfor %}
        {% endif %}
    {% endwith %}

</script>

{% block js %} {% endblock %}
</body>
</html>